[
  {
    "name"              : "netstat_daemon",
    "script"            : "app.js",
    "log_date_format"   : "YYYY-MM-DD HH:mm Z",
    "merge_logs"        : false,
    "watch"             : false,
    "max_restarts"      : 100,
    "exec_interpreter"  : "node",
    "exec_mode"         : "fork_mode",
    "env":
    {
      "NODE_ENV"        : "production",
      "RPC_HOST"        : "localhost",
      "RPC_PORT"        : "8545",
      "LISTENING_PORT"  : "30303",
      "INSTANCE_NAME"   : "",
      "BRIDGE_VERSION"  : "",
      "ROLE"            : "",
      "FUSE_APP_VERSION": "",
      "PARITY_VERSION"  : "",
      "NETSTATS_VERSION": "",
      "CONTACT_DETAILS" : "",
      "WS_SECRET"       : "see http://forum.ethereum.org/discussion/2112/how-to-add-yourself-to-the-stats-dashboard-its-not-automatic",
      "WS_SERVER"       : "https://health.fuse.io",
      "VERBOSITY"       : 2
    }
  }
]
